<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Hello World{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
		<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

        {% block javascripts %}
	        
            {% javascripts
	        	'//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js'
	        	'//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.js'
	        	output='js/compiled/base/jquery.js'
	    	%}
	        <script type="text/javascript" src="{{ asset_url }}"></script>
	    	{% endjavascripts %}
            
        {% endblock %}
    </body>
</html>
