{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
	{% stylesheets
        '@JConnHelloBundle/Resources/public/css/master.css'
	    output = 'css/compiled/jconnhello/master.css' %}
        <link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block body %}
    <h1>Hello World</h1>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
	{% javascripts
        '@JConnHelloBundle/Resources/public/js/master.js'
		output = 'js/compiled/jconnhello/master.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}